1.

2+5 this is simple addition

2 + 5 also simple addition (spaces do not produce any changes)

2*5 simple multiplication produces 10

2/5 division and produces 0.4

2**5 ** denotes exponent operation. 2 to the power of 5

In [1]:
2+5

7

In [3]:
2 + 5

7

In [4]:
2*5

10

In [6]:
2/5

0.4

In [10]:
2**5

32

2.

x is 10. Initially 7 is assigned to the variable x. Statement x = x + 3 takes the previous value of x which is 7, and adds 3 to it. It then assigns this as the new value of x

In [11]:
x = 7 
x = x + 3
x

10

3.

The value of y is 3 because it was assigned to the initial value of x since it came before the reassigned value of 10. Therefore, y=3.

The value of x becomes 10 as the value of variable x has been reassigned to be 10.

In [17]:
x = 3
y = x
x = 10
print(y)
print(x)

3
10

4.

this code produces 1.5 and concatonates 'abc' and 'abc'

In [23]:
x = 3
x = x/2
y = 'abc'
z = y + y
print(x, z)

1.5 abcabc

5.

It does not run without error. This is because variable z attempted to combine/contatonate two types (float and string) that weren't the same.

In [18]:
x = 3
x = x/2
y = 'abc'
z = x + y
print(x, z)

TypeError: unsupported operand type(s) for +: 'float' and 'str'

6.

code runs without error

In [25]:
x = 3
y = 24
z = y / x
print(x, y, z, sep=' | ')

3 | 24 | 8.0

7.

code does not run without error because code attempts to divide/ operate an integer and a string which python cannot do since they are two different types.

In [26]:
x = 3
y = '24'
z = y / x
print(x, z)

TypeError: unsupported operand type(s) for /: 'str' and 'int'

8.

Prints 'I am a #string'

In [8]:
x = "I am a #string" # Whoa, a string!
x

'I am a #string'

9.

Combines both lists

In [9]:
x = [1, 2, 3]
y = [42, 43]
z = x + y
print(z)

[1, 2, 3, 42, 43]

10.

Does not run without error. Cannot contatenate an integer and a list; two different types

In [11]:
x = [1, 2, 3]
y = 42
z = x + y

TypeError: can only concatenate list (not "int") to list

11.

x1 is an integer, x2 is a float, x3 is a string, x4 is a list, x5 is a list

In [18]:
x1 = 12
x2 = 12.0
x3 = '12.0'
x4 = [12]
x5 = [12, 12.0, '12. 0']
print(type(x1))
print(type(x2))
print(type(x3))
print(type(x4))
print(type(x5))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'list'>
<class 'list'>

12.

type(42) is an integer. Any whole number with no decimal point is an int.

type(42.0) is a float since there is a decimal point

type('42.0) is a string

type("42.0") is a string, doesnt matter whether single or double quotes.

type("""42.0""") still a string even if triple quotes.

type([1, 2]) list since in brackets

type([1] + [2]) still a list because adding two lists together to make bigger list.

type(1 + 2) adding these two produces an integer

type(print) is a command; it tells python what to do.

In [20]:
print(type(42))
print(type(42.0))
print(type('42.0'))
print(type("42.0"))
print(type("""42.0"""))
print(type([1, 2]))
print(type([1] + [2]))
print(type(1 + 2))
type(print)

<class 'int'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'list'>
<class 'list'>
<class 'int'>

builtin_function_or_method

13.

This is asking python to determing the type of the float that has a string with an integer inside.

In [27]:
type(float(str(int('1234'))))

float

14.

Produces the type of the integer that was originally a string with a float that was converted to an int.

In [32]:
type(int(float('12.34')))

int

15.

len([1234]) produces the number of items in the list which is only 1 item.

len("1234") produces the number of characters in the string, 4.

len(1234) brings an error because an integer itself has no length, it is a value.

In [38]:
print(len([1234]))
print(len("1234"))
print(len(1234))

1
4

TypeError: object of type 'int' has no len()

16.

x = [] is a list with zero items in it therefore length is 0.

In [45]:
x = []
print(x)
print(type(x))
print(len(x))

[]
<class 'list'>
0

17.

Looks like as follows:

In [47]:
x = 'abcde'
type(x)

str

In [51]:
list(str(x))

['a', 'b', 'c', 'd', 'e']

18.

float(x) = 1234.0

str(x) = "1234"

list(str(x)) = ['1', '2', '3', '4']

In [53]:
x = 1234
print(x)

1234

In [54]:
float(x)

1234.0

In [55]:
str(x)

'1234'

In [57]:
list(str(x))

['1', '2', '3', '4']

19.

x.title()

In [62]:
x = "luke, i am your father"
x.title()

'Luke, I Am Your Father'

20.As Follows:

a.

In [65]:
x = "How many characters and words are in this string"
len(x)

48

b.

In [64]:
list(x)

['H',
 'o',
 'w',
 ' ',
 'm',
 'a',
 'n',
 'y',
 ' ',
 'c',
 'h',
 'a',
 'r',
 'a',
 'c',
 't',
 'e',
 'r',
 's',
 ' ',
 'a',
 'n',
 'd',
 ' ',
 'w',
 'o',
 'r',
 'd',
 's',
 ' ',
 'a',
 'r',
 'e',
 ' ',
 'i',
 'n',
 ' ',
 't',
 'h',
 'i',
 's',
 ' ',
 's',
 't',
 'r',
 'i',
 'n',
 'g']

c.

In [89]:
word_list = x.split(" ")
word_list

['How', 'many', 'characters', 'and', 'words', 'are', 'in', 'this', 'string']

d.

In [91]:
len(word_list)

9

21.

1.5 hours.